#logo {
    background-image: url(../images/cash-stacks.png);
    background-position: left;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    height: 70px;
    padding-top: 6px;
    padding-left: 80px;
}

#logout {
	padding-top: 20px;
}

#login {
	margin-top: 100px;
}

#list_coins {
	width: 100%!important;
}

.header {
	border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.footer {
    padding-top: 10px;
    margin-top: 10px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

#id {
	display: none;
}

.red {
	color: red;
}

.panel-act {
	width: 72px;
}

#panel-btns {
	text-align: right;
	height:35px;
	padding-top:6px;
}

@media screen and (max-width: 767px) {
	#panel-btns {
		text-align: center;
	}
}

.act {
	margin-right: 10px;
}
