#logo {
    background-image: url("../images/cash-stacks.png");
    background-position: left; 
    background-size: 100px 100px;
  	background-repeat: no-repeat; 
  	height: 100px;
  	padding-top: 18px;
  	padding-left: 110px;
}

.red {
	color: red;
}

#logout {
	text-align: right;
}

#panel-btns {
	text-align: right;
	height:35px;
	padding-top:9px;
}

@media screen and (max-width: 767px) {
	#panel-btns {
		text-align: center;
	}
}

.act {
	padding-right: 10px;
}
